@charset "UTF-8";
* {
  margin: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px; }

[class*="col-"] {
  background-color: peru; }

.col-1 {
  grid-column-end: span 1; }

.col-start-1.col-1 {
  grid-column: 1/span 1; }
.col-start-1.col-2 {
  grid-column: 1/span 2; }
.col-start-1.col-3 {
  grid-column: 1/span 3; }
.col-start-1.col-4 {
  grid-column: 1/span 4; }
.col-start-1.col-5 {
  grid-column: 1/span 5; }
.col-start-1.col-6 {
  grid-column: 1/span 6; }
.col-start-1.col-7 {
  grid-column: 1/span 7; }
.col-start-1.col-8 {
  grid-column: 1/span 8; }
.col-start-1.col-9 {
  grid-column: 1/span 9; }
.col-start-1.col-10 {
  grid-column: 1/span 10; }
.col-start-1.col-11 {
  grid-column: 1/span 11; }
.col-start-1.col-12 {
  grid-column: 1/span 12; }

.col-2 {
  grid-column-end: span 2; }

.col-start-2.col-1 {
  grid-column: 2/span 1; }
.col-start-2.col-2 {
  grid-column: 2/span 2; }
.col-start-2.col-3 {
  grid-column: 2/span 3; }
.col-start-2.col-4 {
  grid-column: 2/span 4; }
.col-start-2.col-5 {
  grid-column: 2/span 5; }
.col-start-2.col-6 {
  grid-column: 2/span 6; }
.col-start-2.col-7 {
  grid-column: 2/span 7; }
.col-start-2.col-8 {
  grid-column: 2/span 8; }
.col-start-2.col-9 {
  grid-column: 2/span 9; }
.col-start-2.col-10 {
  grid-column: 2/span 10; }
.col-start-2.col-11 {
  grid-column: 2/span 11; }
.col-start-2.col-12 {
  grid-column: 2/span 12; }

.col-3 {
  grid-column-end: span 3; }

.col-start-3.col-1 {
  grid-column: 3/span 1; }
.col-start-3.col-2 {
  grid-column: 3/span 2; }
.col-start-3.col-3 {
  grid-column: 3/span 3; }
.col-start-3.col-4 {
  grid-column: 3/span 4; }
.col-start-3.col-5 {
  grid-column: 3/span 5; }
.col-start-3.col-6 {
  grid-column: 3/span 6; }
.col-start-3.col-7 {
  grid-column: 3/span 7; }
.col-start-3.col-8 {
  grid-column: 3/span 8; }
.col-start-3.col-9 {
  grid-column: 3/span 9; }
.col-start-3.col-10 {
  grid-column: 3/span 10; }
.col-start-3.col-11 {
  grid-column: 3/span 11; }
.col-start-3.col-12 {
  grid-column: 3/span 12; }

.col-4 {
  grid-column-end: span 4; }

.col-start-4.col-1 {
  grid-column: 4/span 1; }
.col-start-4.col-2 {
  grid-column: 4/span 2; }
.col-start-4.col-3 {
  grid-column: 4/span 3; }
.col-start-4.col-4 {
  grid-column: 4/span 4; }
.col-start-4.col-5 {
  grid-column: 4/span 5; }
.col-start-4.col-6 {
  grid-column: 4/span 6; }
.col-start-4.col-7 {
  grid-column: 4/span 7; }
.col-start-4.col-8 {
  grid-column: 4/span 8; }
.col-start-4.col-9 {
  grid-column: 4/span 9; }
.col-start-4.col-10 {
  grid-column: 4/span 10; }
.col-start-4.col-11 {
  grid-column: 4/span 11; }
.col-start-4.col-12 {
  grid-column: 4/span 12; }

.col-5 {
  grid-column-end: span 5; }

.col-start-5.col-1 {
  grid-column: 5/span 1; }
.col-start-5.col-2 {
  grid-column: 5/span 2; }
.col-start-5.col-3 {
  grid-column: 5/span 3; }
.col-start-5.col-4 {
  grid-column: 5/span 4; }
.col-start-5.col-5 {
  grid-column: 5/span 5; }
.col-start-5.col-6 {
  grid-column: 5/span 6; }
.col-start-5.col-7 {
  grid-column: 5/span 7; }
.col-start-5.col-8 {
  grid-column: 5/span 8; }
.col-start-5.col-9 {
  grid-column: 5/span 9; }
.col-start-5.col-10 {
  grid-column: 5/span 10; }
.col-start-5.col-11 {
  grid-column: 5/span 11; }
.col-start-5.col-12 {
  grid-column: 5/span 12; }

.col-6 {
  grid-column-end: span 6; }

.col-start-6.col-1 {
  grid-column: 6/span 1; }
.col-start-6.col-2 {
  grid-column: 6/span 2; }
.col-start-6.col-3 {
  grid-column: 6/span 3; }
.col-start-6.col-4 {
  grid-column: 6/span 4; }
.col-start-6.col-5 {
  grid-column: 6/span 5; }
.col-start-6.col-6 {
  grid-column: 6/span 6; }
.col-start-6.col-7 {
  grid-column: 6/span 7; }
.col-start-6.col-8 {
  grid-column: 6/span 8; }
.col-start-6.col-9 {
  grid-column: 6/span 9; }
.col-start-6.col-10 {
  grid-column: 6/span 10; }
.col-start-6.col-11 {
  grid-column: 6/span 11; }
.col-start-6.col-12 {
  grid-column: 6/span 12; }

.col-7 {
  grid-column-end: span 7; }

.col-start-7.col-1 {
  grid-column: 7/span 1; }
.col-start-7.col-2 {
  grid-column: 7/span 2; }
.col-start-7.col-3 {
  grid-column: 7/span 3; }
.col-start-7.col-4 {
  grid-column: 7/span 4; }
.col-start-7.col-5 {
  grid-column: 7/span 5; }
.col-start-7.col-6 {
  grid-column: 7/span 6; }
.col-start-7.col-7 {
  grid-column: 7/span 7; }
.col-start-7.col-8 {
  grid-column: 7/span 8; }
.col-start-7.col-9 {
  grid-column: 7/span 9; }
.col-start-7.col-10 {
  grid-column: 7/span 10; }
.col-start-7.col-11 {
  grid-column: 7/span 11; }
.col-start-7.col-12 {
  grid-column: 7/span 12; }

.col-8 {
  grid-column-end: span 8; }

.col-start-8.col-1 {
  grid-column: 8/span 1; }
.col-start-8.col-2 {
  grid-column: 8/span 2; }
.col-start-8.col-3 {
  grid-column: 8/span 3; }
.col-start-8.col-4 {
  grid-column: 8/span 4; }
.col-start-8.col-5 {
  grid-column: 8/span 5; }
.col-start-8.col-6 {
  grid-column: 8/span 6; }
.col-start-8.col-7 {
  grid-column: 8/span 7; }
.col-start-8.col-8 {
  grid-column: 8/span 8; }
.col-start-8.col-9 {
  grid-column: 8/span 9; }
.col-start-8.col-10 {
  grid-column: 8/span 10; }
.col-start-8.col-11 {
  grid-column: 8/span 11; }
.col-start-8.col-12 {
  grid-column: 8/span 12; }

.col-9 {
  grid-column-end: span 9; }

.col-start-9.col-1 {
  grid-column: 9/span 1; }
.col-start-9.col-2 {
  grid-column: 9/span 2; }
.col-start-9.col-3 {
  grid-column: 9/span 3; }
.col-start-9.col-4 {
  grid-column: 9/span 4; }
.col-start-9.col-5 {
  grid-column: 9/span 5; }
.col-start-9.col-6 {
  grid-column: 9/span 6; }
.col-start-9.col-7 {
  grid-column: 9/span 7; }
.col-start-9.col-8 {
  grid-column: 9/span 8; }
.col-start-9.col-9 {
  grid-column: 9/span 9; }
.col-start-9.col-10 {
  grid-column: 9/span 10; }
.col-start-9.col-11 {
  grid-column: 9/span 11; }
.col-start-9.col-12 {
  grid-column: 9/span 12; }

.col-10 {
  grid-column-end: span 10; }

.col-start-10.col-1 {
  grid-column: 10/span 1; }
.col-start-10.col-2 {
  grid-column: 10/span 2; }
.col-start-10.col-3 {
  grid-column: 10/span 3; }
.col-start-10.col-4 {
  grid-column: 10/span 4; }
.col-start-10.col-5 {
  grid-column: 10/span 5; }
.col-start-10.col-6 {
  grid-column: 10/span 6; }
.col-start-10.col-7 {
  grid-column: 10/span 7; }
.col-start-10.col-8 {
  grid-column: 10/span 8; }
.col-start-10.col-9 {
  grid-column: 10/span 9; }
.col-start-10.col-10 {
  grid-column: 10/span 10; }
.col-start-10.col-11 {
  grid-column: 10/span 11; }
.col-start-10.col-12 {
  grid-column: 10/span 12; }

.col-11 {
  grid-column-end: span 11; }

.col-start-11.col-1 {
  grid-column: 11/span 1; }
.col-start-11.col-2 {
  grid-column: 11/span 2; }
.col-start-11.col-3 {
  grid-column: 11/span 3; }
.col-start-11.col-4 {
  grid-column: 11/span 4; }
.col-start-11.col-5 {
  grid-column: 11/span 5; }
.col-start-11.col-6 {
  grid-column: 11/span 6; }
.col-start-11.col-7 {
  grid-column: 11/span 7; }
.col-start-11.col-8 {
  grid-column: 11/span 8; }
.col-start-11.col-9 {
  grid-column: 11/span 9; }
.col-start-11.col-10 {
  grid-column: 11/span 10; }
.col-start-11.col-11 {
  grid-column: 11/span 11; }
.col-start-11.col-12 {
  grid-column: 11/span 12; }

.col-12 {
  grid-column-end: span 12; }

.col-start-12.col-1 {
  grid-column: 12/span 1; }
.col-start-12.col-2 {
  grid-column: 12/span 2; }
.col-start-12.col-3 {
  grid-column: 12/span 3; }
.col-start-12.col-4 {
  grid-column: 12/span 4; }
.col-start-12.col-5 {
  grid-column: 12/span 5; }
.col-start-12.col-6 {
  grid-column: 12/span 6; }
.col-start-12.col-7 {
  grid-column: 12/span 7; }
.col-start-12.col-8 {
  grid-column: 12/span 8; }
.col-start-12.col-9 {
  grid-column: 12/span 9; }
.col-start-12.col-10 {
  grid-column: 12/span 10; }
.col-start-12.col-11 {
  grid-column: 12/span 11; }
.col-start-12.col-12 {
  grid-column: 12/span 12; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white; }

.btn:hover {
  background-color: lightgrey; }

.btn-grey {
  color: #333;
  background-color: lightgrey;
  border-color: gray; }

.btn-grey:hover {
  background-color: darkgrey; }

.btn-red {
  color: white;
  background-color: #c9302c;
  border-color: #ac2925; }

.btn-red:hover {
  color: white;
  background-color: #ac2925;
  border-color: black; }

.btn-green {
  color: white;
  background-color: #5cb85c;
  border-color: darkgreen; }

.btn-green:hover {
  color: white;
  background-color: #4cae4c;
  border-color: darkgreen; }

.btn-blue {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4; }

.btn-blue:hover {
  color: white;
  background-color: #2e6da4;
  border-color: #337ab7; }

.btn-yellow {
  color: white;
  background-color: #f0ad4e;
  border-color: #eea236; }

.btn-yellow:hover {
  color: white;
  background-color: #eea236;
  border-color: #f0ad4e; }

.btn-L {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.btn-S {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-XS {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-full {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.btn-L:active {
  color: blue; }

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 5%; }

.img-circle {
  border-radius: 50%; }

.img-thumbnail {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px; }

.img-blur {
  filter: blur(8px); }

.bg-primary {
  background-color: dodgerblue; }

.bg-secondary {
  background-color: dimgray; }

.bg-success {
  background-color: forestgreen; }

.bg-danger {
  background-color: red; }

.bg-warning {
  background-color: orange; }

.bg-info {
  background-color: cadetblue; }

.bg-light {
  background-color: ghostwhite; }

.bg-dark {
  background-color: black; }

.bg-white {
  background-color: white; }

.text-muted {
  color: #6c757d; }

.text-primary {
  color: dodgerblue; }

.text-success {
  color: forestgreen; }

.text-info {
  color: cadetblue; }

.text-warning {
  color: orange; }

.text-error {
  color: red; }

.text-light {
  color: ghostwhite; }

.text-dark {
  color: black; }

.text-white {
  color: white; }

.alert {
  padding: .7143rem 1.071rem;
  margin-bottom: 1.429rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: white; }

.alert .close {
  position: relative; }

.close {
  top: -2px;
  right: -20px;
  color: inherit; }

.alert-dismiss {
  padding-right: 2.5rem; }

.alert-dismiss .close {
  top: -2px;
  right: -20px;
  color: inherit; }

.alert.alert-primary {
  background-color: dodgerblue; }

.alert.alert-secondary {
  background-color: dimgray; }

.alert.alert-success {
  background-color: forestgreen; }

.alert.alert-info {
  background-color: cadetblue; }

.alert.alert-warning {
  background-color: orange; }

.alert.alert-danger {
  background-color: red; }

.visible-S, .visible-M, .visible-L, .visible-XL {
  display: none !important; }

.visible-S-block,
.visible-S-inline,
.visible-S-inline-block,
.visible-M-block,
.visible-M-inline,
.visible-M-inline-block,
.visible-L-block,
.visible-L-inline,
.visible-L-inline-block,
.visible-XL-block,
.visible-XL-inline,
.visible-XL-inline-block {
  display: none !important; }

@media screen and (max-width: 767px) {
  .visible-S {
    display: block !important; }

  .visible-S-block {
    display: block !important; }

  .visible-S-inline-block {
    display: inline-block !important; }

  .visible-S-inline {
    display: inline !important; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-M {
    display: block !important; }

  .visible-M-block {
    display: block !important; }

  .visible-M-inline {
    display: inline !important; }

  .visible-M-inline-block {
    display: inline-block !important; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .visible-L {
    display: block !important; }

  .visible-L-block {
    display: block !important; }

  .visible-L-inline {
    display: inline !important; }

  .visible-L-inline-block {
    display: inline-block !important; } }
@media screen and (min-width: 1200px) {
  .visible-XL {
    display: block !important; }

  .visible-XL-block {
    display: block !important; }

  .visible-XL-inline {
    display: inline !important; }

  .visible-XL-inline-block {
    display: inline-block !important; } }
@media screen and (max-width: 767px) {
  .hidden-S {
    display: none !important; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-M {
    display: none !important; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-L {
    display: none !important; } }
@media screen and (min-width: 1200px) {
  .hidden-XL {
    display: none !important; } }
@media print and (max-width: 767px) {
  .visible-print-S-block {
    display: block !important; }

  .visible-print-S-inline {
    display: inline !important; }

  .visible-print-S-inline-block {
    display: inline-block !important; }

  .hidden-print-S {
    display: none !important; } }
@media print and (min-width: 768px) and (max-width: 991px) {
  .visible-print-M-block {
    display: block !important; }

  .visible-print-M-inline {
    display: inline !important; }

  .visible-print-M-inline-block {
    display: inline-block !important; }

  .hidden-print-M {
    display: none !important; } }
@media print and (min-width: 992px) and (max-width: 1199px) {
  .visible-print-L-block {
    display: block !important; }

  .visible-print-L-inline {
    display: inline !important; }

  .visible-print-L-inline-block {
    display: inline-block !important; }

  .hidden-print-L {
    display: none !important; } }
@media print and (min-width: 1200px) {
  .visible-print-XL-block {
    display: block !important; }

  .visible-print-XL-inline {
    display: inline !important; }

  .visible-print-XL-inline-block {
    display: inline-block !important; }

  .hidden-print-XL {
    display: none !important; } }
.navigation {
  height: 90px;
  background: darkred; }

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em; }
  .brand a,
  .brand a:visited {
    color: white;
    text-decoration: none; }

.nav-container {
  max-width: 1000px;
  margin: 0 auto; }

nav {
  float: right; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left;
      position: relative; }
      nav ul li a,
      nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 70px;
        background: darkred;
        color: white;
        text-decoration: none; }
        nav ul li a:hover,
        nav ul li a:visited:hover {
          background: cornflowerblue;
          color: white; }
        nav ul li a:not(:only-child):after,
        nav ul li a:visited:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾'; }
      nav ul li ul li {
        min-width: 190px; }
        nav ul li ul li a {
          padding: 15px;
          line-height: 20px; }

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: darkred;
  height: 70px;
  width: 70px; }

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block; }

  nav {
    width: 100%;
    padding: 70px 0 15px; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }

  .nav-dropdown {
    position: static; } }
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important; } }
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

div {
  padding: 8px 0; }

/*# sourceMappingURL=style.css.map */
